$mobile-xs: 320px;
$mobile-xs-min: 320px - 1;
$mobile-sm: 375px;
$mobile-sm-min: 375px - 1;
$mobile-md: 425px;
$mobile-md-min: 425px - 1;
$tablet: 768px;
$tablet-min: 768px - 1;
$screen-md: 1024px;
$screen-md-min: 1024px - 1;
$screen-lg: 1440px;
$screen-lg-min: 1440px - 1;
$screen-xl: 2560px;
$screen-xl-min: 2560px - 1;
