@import '../styles/normalise';
@import '../styles/viewports';

$bg: #14171c;
$text: #dfe3ba;
$max-height: 48rem;
$max-width: $max-height * 0.8125;

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    @media only screen 
    and (min-width: $tablet)
    and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) {
        font-size: 24px;
    }
}

body {
    background-color: $bg;
    color: $text;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;

    @media screen and (min-width: $screen-md-min) {
        max-height: $max-height;
        max-width: $max-width;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.header-title-img {
    width: 6.6rem;
    margin: 2rem 0 0 2rem;
}

.header-lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-rocks {
    width: 6.6rem;
}

.header-subtitle {
    color: $text;
    display: flex;
    align-items: flex-end;
    flex-flow: column;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.header-subtitle-sharp-relief {
    width: 6.6rem;
}

.content-wrap {
    padding: 0 2rem;
    height: calc(100% - 10rem);
    overflow: scroll;
}

.content-viewer {
    display: block;
    padding-bottom: 10rem;
}

.content-cover {
    display: block;
    overflow: hidden;
    height: 0;
    background-image: url(assets/SS_share_relief_cover.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 150%;
    padding-top: 150%;
}

.section {
    display: block;
    margin-top: 2rem;

    h3 {
        font-weight: normal;
        margin-bottom: 1rem;
    }
}

.social-icon {
    width: 1.5rem;
    vertical-align: middle;
    fill: $text;
}

.icon-facebook {
    fill: $text;
}

.social-label {
    color: $text;
    margin-left: 0.5rem;
}

.content-contact {
    h3 {
        display: flex;
        justify-content: space-between;
    }
    li {
        padding: 0.5rem 0;
    }
}

.at-sign {
    fill: $text;
    width: 1rem;
    vertical-align: middle;
}

.scroll-here-wrap {
    position: absolute;
    height: 6.6rem;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $bg;
}

.scroll-here {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 1.5rem;
}

.footer-rocks {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: auto;
}

@media screen and (max-width: $screen-md) and (orientation: landscape) {
    .content-viewer { padding-bottom: 2rem; }
    .footer-rocks { display: none; }
    .scroll-here-wrap { display: none; }
}
