@import '../styles/normalise';
@import '../styles/viewports';

$bg: #14171c;
$text: #dfe3ba;

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $bg;
    color: $text;
    font-family: sans-serif;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    max-height: 1024px;

    @media screen and (min-width: $mobile-md) {
        max-width: 100vh;
    }

    @media screen and (min-width: $screen-md) {
        max-width: 768px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.header-title-img {
    width: 10.5rem;
    margin: 2.4rem 0 0 2.4rem;
}

.header-lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-rocks {
    width: 10.5rem;
}

.header-subtitle {
    color: $text;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-end;
    flex-flow: column;
    padding-right: 2.4rem;
    padding-bottom: 1.6rem;
}

.header-subtitle-sharp-relief {
    width: 10.5rem;
}

.content-wrap {
    padding: 0 2.4rem;
    height: calc(100% - 128px);
    overflow: scroll;
}

.content-viewer {
    display: block;
    padding-bottom: 160px;
}

.content-cover {
    display: block;
    overflow: hidden;
    height: 0;
    background-image: url(assets/SS_share_relief_cover.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 150%;
    padding-top: 175%;

    @media screen and (min-width: $tablet) {
        background-size: 110%;
        padding-top: 110%;
    }
}

.section {
    display: block;
    margin-top: 2rem;

    h3 {
        font-weight: normal;
        margin-bottom: 1rem;
    }
}

.social-icon {
    width: 1.5rem;
    vertical-align: middle;
    fill: $text;
}

.icon-facebook {
    fill: $text;
}

.social-label {
    color: $text;
    margin-left: 0.5rem;
}

.content-contact {
    h3 {
        display: flex;
        justify-content: space-between;
    }
    li {
        padding: 0.5rem 0;
    }
}

.at-sign {
    fill: $text;
    width: 1rem;
    vertical-align: middle;
}

.scroll-here-wrap {
    position: absolute;
    height: 10.5rem;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $bg;
}

.scroll-here {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 2.4rem;
}

.footer-rocks {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 16rem;
    width: auto;
}

@media screen and (max-height: $mobile-md) {
    .content-viewer { padding-bottom: 2rem; }
    .footer-rocks { display: none; }
    .scroll-here-wrap { display: none; }
}
