@import '../styles/normalise';
@import '../styles/viewports';

$bg: #14171c;
// $text: #dfe3ba;
// $text: #f0efe2;
$text: #fafae5;

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: $bg;
    color: $text;
    font-family: sans-serif;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title-sam-hanlan,
.header-rocks,
.sharp-relief-text,
.scroll-here,
.lyrics-reveal-btn {
    &::after {
        content: ' ';
        display: block;
        background-image: url(assets/SH_SS_sprite1@1x.jpg);
        background-repeat: no-repeat;
        background-size: auto 100%;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(assets/SH_SS_sprite1@2x.jpg);
        }
    }
}

.container {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    max-height: 1024px;

    @media screen and (min-width: $mobile-md) {
        max-width: 100vh;
    }

    @media screen and (min-width: $screen-md) {
        max-width: 768px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    
    @media screen and (min-height: $mobile-md) and (min-width: $mobile-md) {
        flex-flow: column;
    }
}

.header-title-sam-hanlan {
    width: 10.5rem;
    margin-left: 24px;

    &::after {
        background-position: 0 0;
        padding-top: 34.2%;
    }
}

.header-lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-rocks {
    display: none;
    width: 105px;
    
    @media screen and (min-height: $mobile-md) and (min-width: $mobile-md) {
        display: block;
    }
    
    &::after {
        padding-top: 35%;
        background-position: 45% 0;
    }
}

.header-subtitle {
    color: $text;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-end;
    flex-flow: column;
    padding-right: 2.4rem;
    padding-bottom: 1.6rem;
}

.sharp-relief-text {
    display: block;
    width: 105px;

    &::after {
        padding-top: 22%;
        background-position: 90% 0;
        background-size: auto 154%;
    }
}

.header-subtitle-release-date {
    text-align: right;
}

.content-wrap {
    padding: 0 24px;
    height: calc(100% - 128px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-viewer {
    display: block;
}

.content-cover {
    display: block;
    overflow: hidden;
    height: 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(assets/SH_SS_sharp_relief_cover_raw_sm@1x.jpg);
    padding-top: 175%;

    @media screen and (max-width: $tablet-min) and (-webkit-min-device-pixel-ratio: 2),
        screen and (max-width: $tablet-min) and (min-resolution: 192dpi) {
        background-image: url(assets/SH_SS_sharp_relief_cover_raw_sm@2x.jpg);
    }

    @media screen and (min-width: $tablet) {
        background-image: url(assets/SH_SS_sharp_relief_cover_raw_lg@1x.jpg);
        padding-top: 125%;
    
    }
    @media screen and (min-width: $tablet) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: $tablet) and (min-resolution: 192dpi) {
        background-image: url(assets/SH_SS_sharp_relief_cover_raw_lg@2x.jpg);
    }
}

.section {
    display: block;
    margin-top: 30px;

    h3 {
        margin-bottom: 1rem;
    }
}

.content-listen-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.listen-channel-icons {
    a {
        margin-left: 20px;
    }
}

#soundcloud-widget {
    position: relative;
    height: 166px;
    background-color: $text;
    border-radius: 4px;

    iframe {
        position: absolute;
        z-index: 2;
    }

    &::after {
        content: 'loading player...';
        color: $bg;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.release-date {
    margin-bottom: 10px;
}

.release-title {
    margin: 20px 0;
}

.release-info-wrap {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.track-list {
    padding-left: 10px;
    order: 2;

    @media screen and (min-width: $mobile-md) and (min-height: $mobile-md) {
        width: 66.6%;
        order: 1;
    }

    li {
        line-height: 2;
        white-space: nowrap;
        
        label {
            cursor: pointer;
        }
    }
}

.lyrics-reveal-btn {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 25px;
    transform: rotate(180deg) scale(0.66);
    transition: transform .4s ease-in-out;

    &::after {
        padding-top: 100%;
        background-position: 100% 0;
        background-size: auto 145%;
    }
}

.lyrics {
    font-family: monospace;
    line-height: 1.5;
    display: block;
    height: 0;
    overflow: hidden;
}

.lyrics-checkbox:checked {
    & ~ .lyrics {
        height: auto;
    }
    & ~ label .lyrics-reveal-btn {
        transform: rotate(0) scale(0.66);
    }
}

.elipses {
    vertical-align: super;
}

.release-cover {
    width: 100%;
    flex: 0 1 auto;
    order: 1;
    margin-bottom: 20px;

    @media screen and (min-width: $mobile-md) and (min-height: $mobile-md) {
        width: 33.3%;
        order: 2;
        margin-bottom: 0;
    }
}

.release-cover-sharp-relief {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(assets/SH_SS_sharp_relief_cover_sm@1x.jpg);

    @media screen and (max-width: $mobile-md-min) and (-webkit-min-device-pixel-ratio: 2),
        screen and (max-width: $mobile-md-min) and (min-resolution: 192dpi) {
        background-image: url(assets/SH_SS_sharp_relief_cover_sm@2x.jpg);
    }

    @media screen and (max-width: $tablet-min) and (min-width: $mobile-md) {
        background-image: url(assets/SH_SS_sharp_relief_cover_md@1x.jpg);
    }

    @media screen and (max-width: $tablet-min) and (min-width: $mobile-md) and (-webkit-min-device-pixel-ratio: 2),
        screen and (max-width: $tablet-min) and (min-width: $mobile-md) and (min-resolution: 192dpi) {
        background-image: url(assets/SH_SS_sharp_relief_cover_md@2x.jpg);
    }

    @media screen and (min-width: $screen-md) {
        background-image: url(assets/SH_SS_sharp_relief_cover_lg@1x.jpg);
    }

    @media screen and (min-width: $screen-md) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: $screen-md) and (min-resolution: 192dpi) {
        background-image: url(assets/SH_SS_sharp_relief_cover_lg@2x.jpg);
    }
}

.live-show-date {
    margin-right: 20px;
}

.content-background {
    p {
        line-height: 1.5;
    }
}

.content-contact {
    h3 {
        display: flex;
        justify-content: space-between;
    }
    li {
        line-height: 2;
    }
}

.social-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    fill: $text;
}

.social-label {
    color: $text;
    margin-left: 10px;
}

.at-sign {
    fill: $text;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

.content-copyright {
    text-align: center;
}

.scroll-here-wrap {
    position: absolute;
    z-index: 3;
    height: 105px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $bg;
}

.scroll-here {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    
    &::after {
        padding-top: 130%;
        background-position: 100% 0;
        background-size: auto 110%;
    }
}

.footer-rocks {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 75%;

    @media screen and (min-width: $screen-md) {
        width: 50%;
    }

    &::after {
        content: ' ';
        display: block;
        padding-top: 50%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-image: url(assets/SH_SS_rocks_footer@1x.png);

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(assets/SH_SS_rocks_footer@2x.png);
        }
    }

}

@media screen and (max-height: $mobile-md) {
    .content-viewer { padding-bottom: 24px; }
    .footer-rocks { display: none; }
    .scroll-here-wrap { display: none; }
}
