#audio-native-player {
  display: none;
}

#trailer-custom-audio-player {
  width: 100%;
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio-transport-control {
  display: flex;
  width: 3em;
}

.audio-play-button {
  width: 100%;
  height: 100%;

  circle {
    fill: none;
    stroke: $light;
  }
  polygon {
    fill: $light;
  }

  .show-pause-btn & {
    display: none;
  }
}

.audio-pause-button {
  width: 100%;
  height: 100%;
  fill: $light;

  .show-play-btn & {
    display: none;
  }
}

.audio-timeline {
  width: 100%;
  height: 4px;
  background-color: #888880;
}

.audio-progress {
  width: 0%;
  height: 100%;
  display: block;
  border-right: 4px solid $dark;
  background-color: $light;
}
