.arrow {
  display: block;

  &::after {
    content: " ";
    display: block;
    background-size: 280px;
    background-repeat: no-repeat;
    background-image: url(assets/FAS_arr_sprite@1x.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(assets/FAS_arr_sprite@2x.png);
    }
  }
}

.arrow-down {
  &::after {
    background-position: 0 0;
    background-size: 135px;
    padding-top: 170%;
  }
}

.arrow-down-right {
  &::after {
    padding-top: 72%;
    transform: rotate(270deg) scaleX(-1);
  }
}

.arrow-left-up {
  &::after {
    transform: rotate(180deg);
    padding-top: 107%;
  }
}

.arrow-left-down-left,
.arrow-left-down-right {
  &::after {
    padding-top: 86%;
    background-position: -30px 0px;
    background-size: 140px;
  }
}

.arrow-right-down-right {
  &::after {
    padding-top: 86%;
    transform: rotate(180deg);
  }
}

.arrow-up-left {
  &::after {
    background-position: top right;
    transform: rotate(90deg) scaleX(-1) translateY(2px);
    padding-top: 92%;
  }
}

.arrow-right-down {
  &::after {
    background-position: top right;
    padding-top: 105%;
    background-size: 58px;
  }
}
